@import "../../assets/css/variable.scss";

$width : 100%;
$opacity : 1;

#footer{
  // width: $width;
  height: 183px;
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 3.7%;
  padding-left: 13.7%;
  padding-bottom: 0%;
  padding-top: 1%;
  background: #F5F5F5 0% 0% no-repeat padding-box;
  p{
    font: normal normal 18px/22px 'Rawson-Medium';
    letter-spacing: 0px;
    color: $tertiaire;
  }
  opacity: $opacity;
}
#foot{
  padding-top: 2.7%;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 3%;
}
.faq{
  padding-top: 4.1%;
  padding-right: 0%;
}
.download{
  padding-top: 4.2%;
  padding-left: 0%;
  padding-right: 0%;
  margin-left: 5.5%;
  p{
    padding-left: 8.5%;
  }
}
.liendepos{
  padding-top: 4%;
  margin-top: 0%;
  p{
    margin-bottom: 0%;
    padding-left: 11.2%;
    font: normal normal 18px/22px 'Rawson-Medium';
    letter-spacing: 0px;
    color: $tertiaire;
  }
}
.imgfooter{
  // width: 155px;
  // height: 113px;
  opacity: $opacity;
}

.footrImg{
  width: 164px;
  height: 50px;
  opacity: $opacity;
}
#footerImgG{
  padding-left: 14%;
  padding-right: 0%;
  margin-top: 1.5%;
}
#footerImgA{
  padding-left: 0%;
  margin-top: 1.5%;
}
.footerend{
  width: $width;
  height: 53px;
  margin-left: 0%;
  background: #006767 0% 0% no-repeat padding-box;
  .copyright{
    // height: 53px;
    padding-top: 1.25%;
    padding-left: 9.4%;
  }
  opacity: $opacity;
}
span{
  text-align: left;
  font: normal normal 18px/22px 'Rawson-Medium';
  padding-left: 14%;
  letter-spacing: 0px;
  color: #ffffffc4;
  opacity: $opacity;
}
.appel{
  height: 53px;
  padding-top: 0%;
  padding-left: 3%;
  img{
    width: 100%;
    height: 100%;
    transform: perspective(50px) translate3d(198%, 4%, 0.6em);
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
  }
  padding-bottom: 0%;
  margin-left: 30%;
  padding-right: 0%;
}
.chat{
  height: 53px;
  padding-top: 0%;
  margin-top: 0%;
  padding-right: 4%;
  img{
    width: 100%;
    height: 100%;
    transform: perspective(50px) translate3d(233%, 4%, 0.6em);
    padding-top: 0%;
  }
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
}



@media(max-width: 767px){
  .appel{
    // height: 53px;
    width: 8%;
    padding-top: 0%;
    padding-left: 0%;
    img{
      width: 100%;
      height: 100%;
      transform: none;
      padding-top: 0%;
      padding-bottom: 0%;
      margin-top: 0%;
      display: none;
    }
    padding-bottom: 0%;
    margin-left: 0%;
    padding-right: 0%;
  }
  .chat{
    height: 53px;
    padding-top: 0%;
    margin-top: 0%;
    padding-right: 4%;
    img{
      width: 100%;
      height: 100%;
      transform: none;
      padding-top: 0%;
      display: none;
    }
    padding-bottom: 0%;
    margin-bottom: 0%;
    padding-left: 0%;
  }
  .faq , .download{
    display: none;
  }
  .copyright{
    span{
      text-align: left;
      font: normal normal 10px/22px 'Rawson-Medium';
      padding-left: 14%;
      letter-spacing: 0px;
      color: #ffffffc4;
      opacity: $opacity;
    }
  }
  #footer{
    // width: $width;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3.7%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-top: 1%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    p{
      font: normal normal 68%/22px 'Rawson-Medium';
      letter-spacing: 0px;
      color: $tertiaire;
    }
    opacity: $opacity;
    #foot{
      margin-left: auto;
      margin-right: auto;
      padding-top: 0%;
      text-align: center;
      .imgfooter{
        width: 100%;
      }
    }
  }
  .liendepos{
    text-align: left;
    padding-top: 0%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0%;
    padding-left: 0%;
    p{
      padding-left: 0%;
    }
  }
  #footerImgG{
    margin: auto;
    padding-left: 0%;
    margin-bottom: 1%;
  }
  #footerImgA{
    margin: auto;
    margin-bottom: 1%;
    padding-right: 0%;
  }
}

@media(min-width: 767.1px) and (max-width: 1000px){
  #footer{
    // width: $width;
    height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 3.7%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-top: 1%;
    background: #F5F5F5 0% 0% no-repeat padding-box;
    p{
      font: normal normal 80%/22px 'Rawson-Medium';
      letter-spacing: 0px;
      color: $tertiaire;
      padding-left: 0%;
    }
    opacity: $opacity;
    #foot{
      text-align: center;
      .imgfooter{
        width: 62%;
      }
    }
  }
  #footerImgG{
    padding-left: 15px;
  }
  .copyright{
    span{
      padding-left: 5%;

    }
  }
  .chat{
    display: none;
  }
}

@media(min-width:880.1px) and (max-width: 1280px){
  #footerImgG{
    padding-left: 0%;
  }
  .liendepos{
    p{
      padding-left: 0%;
    }
    #footerImgG{
      padding-left: 3%;
    }
  }
}

