<div class="row" id="footer">
  <div class="col-2" id="foot">
      <img class="imgfooter" src="../../assets/images/images/salama-assurance-logo-footer.svg" alt="">
  </div>
  <div class="col-1 faq">
      <p>A propos Securité Services FAQ</p>
  </div>
  <div class="col-2 download">
      <p>Download <br/> Termes & conditions Mon compte</p>
  </div>
  <div class="col-5 liendepos">
      <p>Notre application est disponible sur</p>
      <div class="row">
          <div class="col-6" id="footerImgG">
              <img class="footerImg" src="../../assets/images/images/google-play.png" alt="">
          </div>
          <div class="col-6" id="footerImgA">
              <img class="footerImg" src="../../assets/images/images/app-store.png" alt="">
          </div>
      </div>
  </div>
</div>
<div class="row footerend">
  <div class="col-5 copyright">
      <span>Copyright Salama Assurance</span>
  </div>
  <div class="col-1 appel">
      <img src="../../assets/images/images/bouton-appel.svg" alt="">
  </div>
  <div class="col-1 chat" routerLink='https://www.smartsupp.com/widget/c0921d85f4f942caa014c55fa06ab93107e161c0'>
      <img src="../../assets/images/images/bouton-chat.svg" alt="">
  </div>
</div>
