$width : 100%;
$fontText : normal normal 'Rawson-Bold';
$white : #FFFFFF;
$green : #7A774C;
$opacity : 1;

p{
  text-align: left;
  font: normal normal 17px/21px 'Rawson-Medium';
  letter-spacing: 0px;
  color: $green;
  opacity: $opacity;
}

li{
  cursor: pointer;
  display: inline-block;
  margin-left: 4%;
  margin-right: 0.5%;
  margin-top: 3.5%;
  h6{
    font-family:'Rawson-Medium';
    font-size: 25px;
    color: $green;
  }
}
.menutext{
    text-align: left;
    padding-left: 2.6%;
}
.contact{
  margin-left: 3em;
  margin-right: 3em;
  padding-left: .25rem;
}
#imgmenu{
      cursor: pointer;
      width: 89px;
      height: 65px;
      margin-left: 0;
      margin-top: 14.5px;
      padding-left: 0%;
      text-align: left;
}
// .imgmenu{
//   width: 89px;
//   height: 65px;
//   opacity: $opacity;
// }
.menu{
  width: $width;
  height: 93px;
  margin-left: 0%;
  padding-left: 14.01%;
  padding-right: 11.33;
  text-align: center;
  margin-bottom : 1.5%;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  opacity: $opacity;
}
.pmenu{
  padding-top: 1.91%;
  padding-left: 3.32%;
}
.service{
  margin-left: 10.7%;
  margin-right: 1.5%;
}
.sinistre{
  background: #1F6666 0% 0% no-repeat padding-box;
  top: 32px;
  left: 803px;
  width: 193px;
  height: 30px;
  margin-left: -0.49%;
  margin-top: 8%;
  padding-top: 1.8%;
  text-align: center;
  font: normal normal 18px/22px 'Rawson-Light';
  letter-spacing: 0.12px;
  color: $white;
  text-transform: uppercase;
  opacity: $opacity;
}
.sinistre:hover{
  cursor: pointer;
  background: #154949;
}
.dossier{
  width: 124px;
  height: 30px;
  text-align: center;
  font: normal normal 18px/22px 'Rawson-Medium';
  letter-spacing: 0px;
  padding-top: 5.5px;
  padding-right: 0.3%;
  margin-left: 6.9%;
  margin-right: 3%;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #7A774C;
  color: #7a774ce0;
  text-transform: uppercase;
}
.dossier:hover{
  cursor: pointer;
  background-color: #7A774C;
  color: #FFFFFF;
}

@media (min-width: 50px) and (max-width: 360px){
  .menu{
    height: 55px;
    padding: 1px;
  }
  .imgmenu{
    text-align: left;
  }
  #imgmenu{
    cursor: pointer;
    width: 20%;
    height: 100%;
    margin: auto;
    text-align: left;
  }
  .pmenu nav ul li{
    display: block;
    margin: auto;
  }
}

// @media (min-width: 790px) and (max-width: 1278px){
//   .menu{
//     padding: 3px;
//     text-align: center;
//   }
//   .pmenu div ul li{
//     margin: 0%;
//   }

// }
@media (min-width: 1022px){
  .navbar.navbar-expand-md{
    display: none;
  }
    .menu{
    padding: 3px;
    text-align: center;
  }
  .pmenu div ul li{
    margin: 0%;
  }
}
@media (max-width: 1022px){
  .nav1{
    display: none;
  }
  .nav-item{
    font-family:'Rawson-Medium';
    font-size: 14px;
    color: $green;
  }
}

