<nav class="row menu nav1">
  <div class="col-md-1 col-sm-1 pl-0 pr-0 imgmenu">
    <img src="../../assets/images/images/salama-assurance-logo-header.svg" alt="" id="imgmenu" routerLink="/first"/>
  </div>
  <div class="col-md-11 menutext" id="main_nav">
    <div class="row">
      <div class="col-md-6 col-sm-6 pmenu">
          <div>
            <ul>
                <li class="mr-2"><h6>A propos</h6></li>
                <li class="service"><h6>Services</h6></li>
                <li class="contact"><h6>Contact</h6></li>
            </ul>
          </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul>
          <li class="sinistre" routerLink="/second"><span>déclarer un sinistre</span></li>
          <li class="dossier" routerLink="/dossier"><span>SUIVI DOSSIER</span></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<nav class="navbar navbar-expand-md menu">
  <a href="#" class="navbar-brand">
    <img src="../../assets/images/images/salama-assurance-logo-header.svg" alt="" id="imgmenu" routerLink="/first"/>
  </a>
  <button type="button" class="navbar-toggler text-light" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
          <span class="nav-item nav-link">A propos</span>
          <span class="nav-item nav-link">Services</span>
          <span class="nav-item nav-link">Contact</span>
          <span class="nav-item nav-link" routerLink="/second">déclarer un sinistre</span>
          <span class="nav-item nav-link" routerLink="/dossier">SUIVI DOSSIER</span>
      </div>
      <!-- <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link">Login</a>
      </div> -->
  </div>
</nav>

