$primary : #FFFFFF;
$secondary : #1F6666;
$secondary2 : #006767;
$tertiaire : #7A774C;
$tertiaire2 : #7a774ce0;
$gris: #F5F5F5F5;
$gris2: #ffffffc4;
$secondaryClair : #087777;
$hoverColor : #185050;
$boxShadowColor : #00000029;
$loremColor : #377676;
$loremColor2 : #226868;
$precLeftColor : #e3e3e3;
$inputColor : #1f6666d9;
$dateInputColor : #d3eae9;
$labelTextColor : #B5CECD;
$placeHolderColor : #1f666665;
$sousTitreColor : #6f9d9d;
$sinistreHoverColor : #154949;
$userIconColor : #0F4947;
$paragrapheColor : #CCCBCE;
$authInputButton : #005a8d;
$hoverButtonAuth : #00ead3;
