@import "../../assets/css/variable.scss";
.body{
  width: 100%;
  background: $primary 0% 0% no-repeat padding-box;
  overflow-x: hidden;
  overflow-y: hidden;
}
.yn{
  // margin-bottom: 11.7em;
  margin-bottom: 0;
}
.declaration{
  h1{
    text-align: center;
    font: normal normal 35px/42px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    margin-bottom: 0%;
    padding-top: 0.06%;
    opacity: 1;
  }
  hr,span{
    display: inline-block;
  }
  hr{
    width: 121px;
    height: 5px;
    background: $tertiaire 0% 0% no-repeat padding-box;
    margin-top: 0%;
    margin-left: 0%;
    transform: translate(0.2%, 49%);
  }
  span{
    text-align: center;
    font: normal normal 22px/26px 'Rawson-Regular';
    letter-spacing: 0px;
    color: $secondary;
    margin-bottom: 2%;
    padding-bottom: 0%;
    transform: translate(0.8%, -40%);
  }
  margin-left: 26.4%;
  padding-top: 3.7%;
  margin-bottom: 2.6%;
}
.img{
  padding-left: 0.2%;
  margin-top: 52px;
  margin-bottom: auto;
    img{
    }
}
.progress-bar{
  height: 20px;
  background-color: #087777;
  border-radius: 17px;
  border-bottom-right-radius: 31px;
  opacity: 1;
}
.progress{
  width: 91.6%;
  margin-top: -0.1;
  margin-left: 5%;
  height: 20px;
  border-radius: 17px;
  background-color:$primary;
  border: 2px solid #087777;
}
.prog{
  margin-left: auto;
  margin-right: auto;
}
 .left{
    width: 2.7em;
    height: 2.65em;
    background: #e3e3e3 0% 0% no-repeat padding-box;
    margin: auto;
    margin-left: 8em;
    text-align: center;
    padding-top: 0.2em;
    img{
      width: 74%;
      height: 37px;
      margin: auto;
    }
 }
 .right:hover{
  cursor: pointer;
  background: #185050 0% 0% no-repeat padding-box;
 }

.right{
  width: 2.8em;
  height: 2.65em;
  background: $secondaryClair 0% 0% no-repeat padding-box;
  margin-left: 2.84em;
  text-align: center;
  padding-top: 0.2em;
  img{
    width: 74%;
    height: 37px;
    margin: auto;
  }
}
.left2{
  text-align: center;
  width: 2.7em;
  height: 2.65em;
  background: $secondaryClair 0% 0% no-repeat padding-box;
  margin: auto;
  margin-left: 8em;
  img{
    transform: perspective(500px) translate3d(-3%, 19%, 8.6em);
  }
  padding-left: 0%;
  padding-right: 0%;
}
.left2:hover{
  cursor: pointer;
  background: #185050 0% 0% no-repeat padding-box;
 }
 #prec{
  text-align: right;
  padding-top: 230px; //14.4em
}
 #suiv{
  text-align: right;
  padding-top: 230px; //14.3em
}

 //1
  .body0{
    margin-bottom: 21.2%; //161px valeur px
    margin-top: 18.3%;
  }
 .assurer{
   margin: auto;
  h1{
    text-align: center;
    font:  normal normal 31px/42px 'AvenirLTStd-Book';
    font-size: 31px;
    letter-spacing: 0px;
    padding-left: 0.55em;
    color: $secondary;
  }
  margin-bottom: 5%;
  margin-top: 0;
}

.buttonSelected{
  background: $secondary 0% 0% no-repeat padding-box;
  span{
    text-align: center;
    font-family: 'Avenir-Medium';
    font-size: 16.5px;
    letter-spacing: 0.5px;
    color: $primary;
  }
}
.buttonNonSelected{
  background: $primary 0% 0% no-repeat padding-box;
  border: 1px solid $secondary;
  span{
    font-family: 'Avenir-Medium';
    font-size: 16.7px;
    letter-spacing: 0.1px;
    color: $secondary;
  }
}

.btnoui{
  cursor: pointer;
  width: 8.05em;
  height: 3em;
  text-align: center;
  margin: auto;
  margin-right: 1.15em;
  margin-left: 19.45em;
  padding-top: 0.6em;
  margin-top: 0%;
}

.btnnon{
  cursor: pointer;
  width: 8.05em;
  height: 3em;
  text-align: center;
  margin: auto;
  margin-left: 2.3em;
  padding-top: 0.7em;
  margin-top: 0%;
}
//2
.body2{
  margin-bottom: 18.82%;
  margin-top: 17.8%;
}

.sinistre2{
  text-align: center;
  margin: auto;
  margin-left: 0.9em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .quand{
      span{
        font: normal normal 300 17px/21px 'Rawson-LightIt';
        letter-spacing: 0px;
        color: $secondary;
      }
    transform: translate(0%,-21.5%);
  }
  padding-top: 0.1em;
}
 .saisiDate{
   width: 100%;
   text-align: center;
   margin: auto;
   span{
    font: normal normal 600 21px/25px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
   }
   margin-top: 1.7em;
   padding-left: 1.05em;
 }
.date{
  text-align: center;
  margin-top: 0.6em;
  padding-left: 1.4em;
  label{
    display: inline-block;
    width: 3.1em;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 0.5em;
    margin-right: 0%;
    .input{
      width: 39px; //38px
      font-family: 'Rawson-SemiBold';
      font-size: 27px;
      padding: 0%;
      padding-bottom: 0.29em;
      text-align: right;
      border: none;
      -webkit-appearance: none;
      option{
        font-size: 15px;
      }
    }
    .jj{
      color: #D3EAE9;
      border-bottom: 1px solid #d3eae9;
    }
    .mm{
      border-bottom: 1px solid #d3eae9  ;
      color: #D3EAE9;
    }
    .yy{
      border-bottom: 1px solid teal;
      color: $secondary;
    }
  }
}

 //6
 .body6{
  margin: auto;
  margin-bottom: 27%;
  margin-top: 9.9%;
}
.sinistre{
  text-align: center;
  margin-bottom: 1.65em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .passe{
    width: 122%;
    span{
      font: normal normal 300 17px/21px 'Rawson-LightIt';
      letter-spacing: 0px;
      color: $secondary;
    }
    transform: translate(-9%,-21.5%);
  }
  padding-top: 0.15em;
  padding-left: 0.75em;
}
.upload:hover{
  background: #0a5c5c 0% 0% no-repeat padding-box;
}
.upload{
    cursor: pointer;
    width: 13.65em;
    height: 4.25em ;
    background: #087777 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-left: 341px;
    margin-right: auto;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 0%;
    img{
      width: 50%;
      height: 90%;
      margin-left: 55%;
      margin-top: -12%;
    }
    p{
      text-align: left;
      font: normal normal 25px/30px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: $primary;
      text-transform: uppercase;
      margin-bottom: 0%;
      margin-top: 0%;
    }
}
.up{
  padding-left: 0%;
  margin-top: 0%;
}
.error-file{
  span{
    color: rgba(255, 0, 0, 0.842);
    text-align: center;
    font-family: 'Rawson-LightIt';
    transition: 4s !important;
  }
  margin: auto;
  text-align: center;
}
.modal-dialog.modal-notify.modal-danger .modal-header{
  background-color: #087777;
}
.flex-center{
  background-color: #087777;
  .btn-outline-danger{
    border: 2px solid #ffffff!important;
    color: #fff !important;
  }
}

//3
.body3{
  margin-bottom: -4.5%;
  margin-top: 10%;
}
.sinistre3{
  text-align: center;
  margin: auto;
  padding-left: 1em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .ou{
      span{
        font: normal normal 300 17px/21px 'Rawson-LightIt';
        letter-spacing: 0px;
        color: $secondary;
      }
      transform: translate(0%,-21.5%);
  }
  padding-top: 0%;
}

.map{
  width: 1012px;
  height: 323px;
  agm-map{
    width: 100%;
    height: 100%;
  }
  img{
    width: 100%;
    height: 100%;
  }
  margin-left: -3.3em;
  margin-top: 0.2em;
  margin-bottom: 0%;
}

.lieu{
  width: 268px;
  height: 50px;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  padding-top: 0.6em;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-13em);
}
.position{
  img{
    transform: perspective(500px) translate3d(-0.3em, -0.2em, 1.6em);
  }
  span{
    font: normal normal 13px/16px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: $secondary;
  }
}
.addresse{
  width: 340px;
  height: 50px;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
}

//4
.body4{
  margin-bottom: 21%;
  margin-top: 20.3%;
}
.sinistre4{
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
  padding-left: 1em;
  h1{
    text-align: center;
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .passe{
    span{
      font: normal normal 300 17px/21px 'Rawson-LightIt';
      letter-spacing: 0px;
      color: $secondary;
    }
    transform: translate(0%,-21.5%);
  }
  padding-top: 0.1em;
}
.lieu4{
  margin: auto;
  text-align: center;
  margin-top: 4.9;
  padding-left: 0.25em;
  img{
    margin-bottom: 0.1em;
    margin-right: 0.35em;
    margin-left: 2.2em;
  }
  span{
    font: normal normal 13px/16px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: $secondary;
  }
}

//5
.body5{
  margin-bottom: 3.8%;
  margin-top: 9.9%;
}
.sinistre5{
  text-align: center;
  margin: auto;
  margin-bottom: 0.65em;
  padding-left: 0.7em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .passe{
    width: 122%;
    span{
      font: normal normal 300 17px/21px 'Rawson-LightIt';
      letter-spacing: 0px;
      color: $secondary;
    }
    transform: translate(-9%,-21.5%);
  }
  padding-top: 0.15em;
}
.description{
    text-align: center;
    margin: auto;
    padding-left: 0.45em;
    textarea{
      width: 100.4%;
      border: 0.30000001192092896px solid #668b8959;
      height: 278px;
      font-family: "Rawson-SemiBold";
      font-size: 17px;
      color: $secondary;
    }
    ::placeholder{
      text-align: center;
      letter-spacing: 0.17px;
      color: #D3EAE9;
    }
}

//7
.body7{
  margin-bottom: 17.3%;
  margin-top: 9.8%;
}
.sinistre7{
  margin: auto;
  text-align: center;
  padding-left: 0.8em;
  margin-bottom: 1em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .passe{
    width: 122%;
    span{
      font: normal normal 17px/21px 'Rawson-LightIt';
      letter-spacing: 0px;
      color: $secondary;
    }
    transform: translate(-9%,-21.5%);
  }
  padding-top: 0.15em;
}
.files{
  text-align: center;
  margin-top: 1em;
  padding-left: 1.2em;
}

.pdf{
  width: 342px;
  height: 45px;
  margin: auto;
  text-align: center;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  margin-bottom: 1em;
  padding: 0.4em;
  .sup{
    cursor: pointer;
    padding-left: 13%;
    padding-right: 0%;
    margin-left: 1.2em;
    margin-top: 0.1em;
  }
  p{
    text-align: left;
    font: normal normal 12px/15px 'Rawson';
    letter-spacing: 0px;
    color: $secondary;
    margin-bottom: 0%;
    margin-top: 5%;
  }
  img{
    width: 87%;
    height: 31px;
  }
}
.filName{
  padding-left: 0%;
  padding-right: 0%;
  margin-left: -2.5%;
  padding-top: 0.1em;
}

//1
.body1{
  margin: auto;
  text-align: center;
  margin-top: 5.55em;
  margin-bottom: 5.15em;
}


.sinistre1{
  text-align: center;
  margin: auto;
  padding-left: 0.91em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
.passe{
    span{
      font: normal normal 17px/21px 'Rawson-LightIt';
      letter-spacing: 0px;
      color: $secondary;
    }
    transform: translate(0em,-0.3em);
  }
}
#declaration{
  margin-top: 3em;
  margin-bottom: 4.5em;

}

.collision{
  max-width: 219px;
  height: 67px;
  cursor: pointer;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  margin: auto;
  margin-left: 2.15em;
  padding-top: 0.45em;
  margin-right: 3.4em;
  img{
    width: 3em;
    height: 1.75em;
    margin-left: -0.1em;
  }
  p{
    font: normal normal 16px/20px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: #CCCBCE;
    margin-top: 0.5em;
  }
}
.vol{
  max-width: 219px;
  height: 67px;
  cursor: pointer;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  margin: auto;
  margin-right: 3.5em;
  padding-top: 0.45em;
  img{
    width: 3em;
    height: 1.85em;
    margin-left: 0.1em;
  }
  p{
    font: 16px/20px 'Rawson-SemiBold';
    color: #CCCBCE;
    margin-top: 0.4em;
  }
}

.dommage{
  max-width: 219px;
  height: 67px;
  cursor: pointer;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  margin: auto;
  margin-right: 1em;
  padding-top: 0.55em;
  img{
    width: 3em;
    height: 1.77em;
    margin-left: 0.1em;
  }
  p{
    font: normal normal 16px/20px 'Rawson-SemiBold';
    letter-spacing: 0px;
    font-size: 16px;
    color: #CCCBCE;
    margin-top: 0.4em;
    opacity: 1;
  }
}
.inondation{
  max-width: 219px;
  height: 67px;
  cursor: pointer;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  margin: auto;
  margin-left: 2.15em;
  padding-top: 0.45em;
  margin-right: 3.4em;
  img{
  }
  p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: #CCCBCE;
      margin-top: 0.55em;
  }
}
.collisionAnimal{
  max-width: 219px;
  height: 67px;
  cursor: pointer;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  margin: auto;
  margin-right: 3.5em;
  padding-top: 0.2em;
  img{
  }
  p{
    font: normal normal 16px/20px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: #CCCBCE;
    margin-top: 0.2em;
  }
}
.autre{
  max-width: 217px;
  height: 67px;
  cursor: pointer;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  text-align: center;
  margin: auto;
  margin-right: 1em;
  padding-top: 0.53em;
  img{
  }
  p{
    font: normal normal 16px/20px 'Rawson-SemiBold';
    color: #CCCBCE;
    margin-top: 0.65em;
  }
}
.selected{
  background: #087777 0% 0% no-repeat padding-box;
}

//8

//9
.body9{
  margin-bottom: 12em;
  margin-top: 18.3%;
}
.assurer9{
  margin: auto;
  text-align: center;
h1{
  text-align: center;
  font: normal normal 31px/42px 'AvenirLTStd-Book';
  letter-spacing: 0px;
  color: $secondary;
}
margin-bottom: 2.7em;
margin-top: 0em;
padding-left: 1.1em;
}

// .btnoui91{
// cursor: pointer;
// width: 14.2%;
// height: 3em;
// margin: auto;
// margin-right: 0em;
// background: $secondary 0% 0% no-repeat padding-box;
// border: 1px solid $secondary;
// text-align: center;
// span{
//   font: normal normal 17px/23px 'Avenir-Medium';
//   letter-spacing: 0px;
//   color: $primary;
// }
// padding-top: 0.7em;
// margin-top: 0em;
// }
// .btnoui92{
// cursor: pointer;
// width: 14.2%;
// height: 3em;
// margin: auto;
// margin-right: 0em;
// background: $primary 0% 0% no-repeat padding-box;
// border: 1px solid $secondary;
// text-align: center;
// span{
//   font: normal normal 17px/23px 'Avenir-Medium';
//   letter-spacing: 0px;
//   color: $secondary;
// }
// padding-top: 0.7em;
// margin-top: 0em;
// }

// .btnnon91{
// cursor: pointer;
// width: 14.2%;
// height: 3em;
// margin: auto;
// margin-left: 3.4em;
// background: $secondary 0% 0% no-repeat padding-box;
// text-align: center;
// span{
//   text-align: center;
//   font: normal normal medium 17px/23px 'Avenir-Medium';
//   letter-spacing: 0px;
//   color: $primary;
// }
// padding-top: 0.7em;
// margin-top: 0em;
// }
// .btnnon92{
// cursor: pointer;
// width: 14.2%;
// height: 3em;
// margin: auto;
// margin-left: 3.3em;
// background: $primary 0% 0% no-repeat padding-box;
// border: 1px solid $secondary;
// text-align: center;
// span{
//   text-align: center;
//   font: normal normal medium 17px/23px 'Avenir-Medium';
//   letter-spacing: 0px;
//   color: $secondary;
// }
// padding-top: 0.7em;
// margin-top: 0em;
// }

//8
.body8{
  margin-bottom: 12%;
  margin-top: 10%;
}
.sinistre8{
  text-align: center;
  margin: auto;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .quand{
      span{
        font: normal normal 300 17px/21px 'Rawson-LightIt';
        letter-spacing: 0px;
        color: $secondary;
      }
      transform: translate(0%,-21.5%);
  }
  padding-top: 0%;
  margin-bottom: 1.1em;
  padding-left: 0.78em;
}
.matriculeSN{
  width: 342px;
  height: 45px;
  margin: auto;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  margin-top: 0.7em;
  .sn{
    width: 37px;
    height: 45px;
    background: $secondary 0% 0% no-repeat padding-box;
    margin-left: 4.2%;
    .blanc{
      width: 10%;
      height: 10px;
      background: $primary 0% 0% no-repeat padding-box;
      margin-top: 5%;
      margin-left: 36%;
      margin-bottom: 13%;
    }
    .blanc1{
      width: 10%;
      height: 10px;
      background: $primary 0% 0% no-repeat padding-box;
      margin-top: 5%;
      margin-left: 7%;
    }
    p{
      text-align: left;
      font: normal normal 600 17px/21px Rawson;
      letter-spacing: 0px;
      color: #fffff9db;
      margin-left: 22%;
    }
  }
  label {
    display: block;
    position: relative;
    margin: 13.3% 0%; //40px àpx
    margin-top: 0%;
  }
  .label-txt {
    position: absolute;
    top: -0.2em;
    padding: 10px;
    padding-left: 0%;
    transition: ease .3s;

    text-align: left;
    font: normal normal 13px/16px 'Rawson-Bold';
    letter-spacing: 0px;
    color: #B5CECD;
  }

  .input {
    width: 100%;
    padding-top: 5%;
    padding-left: 0%;
    padding-bottom: 0%;
    padding-right: 8%;
    border: none;
    outline: none;

    text-align: left;
    font-family: 'Rawson-SemiBold';
    font-size: 25px;
    letter-spacing: 0px;
    color: $secondary;
  }
  ::placeholder{
    color: #1f666665;
    font-size: 12px;
  }

  transform: translate(2.5%,1%);
}

.matricule{
  width: 342px;
  height: 45px;
  margin: auto;
  background: $primary 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  margin-top: 1.05em;
  .marque{
    padding-top: 2.9%;
    margin-left: 2.7%;
    padding-right: 0%;
    span{
      text-align: left;
      font: normal normal 600 12px/15px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: #1f6666d9;
    }
  }
  label {
    display: block;
    position: relative;
    margin: 13.3% 0%; //40px àpx
    margin-top: 0%;
    padding-top: 1.5%;
    margin-left: 2.7%;
  }

  .input {
    width: 100%;
    padding: 10px;
    padding-top: 3.6%;
    padding-left: 0.5%;
    padding-bottom: 0%;
    padding-right: 8%;
    border: none;
    outline: none;

    text-align: left;
    font: normal normal 12px/15px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: #1f6666d9;
  }
  ::placeholder{
    color: #1f666665;
  }
  transform: translate(2.5%,1%);
}
h6{
  width: 29px;
  height: 30px;
  text-align: left;
  font: normal normal 600 25px/30px 'Rawson-SemiBold';
  letter-spacing: 0px;
  color: $secondary;
  margin-bottom: 0%;
  margin-top: 3.1%;
}
.separateur{
  width: 0px;
  height: 29px;
  border: 0.30000001192092896px solid #1f666630;
  margin-top: 2%;
  margin-left: 0.3%;
}
.dk{
    padding-bottom: 3%;
    margin-left: 4%;
    margin-right: 0%;
    padding-left: 2%;
    padding-right: 0%;
    label input{
      margin-top: 3%;
      text-align: right;
      font: normal normal 12px/15px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: $secondary;
      padding-right: 4px;
    }
    .a{
      // margin-left: 68%;
      // padding: 4%;
      transform: translateY(-9px);
      label{
        // transform: translateX(10px);
        .input{
          padding-left: 0%;
          text-align: right;
          font: normal normal  10px/10px 'Rawson-SemiBold';
          letter-spacing: 0px;
          color: $secondary;
          padding-right: 4px;
        }
      }
    }
}

//input
label {
  display: block;
  position: relative;
  margin: 13.3% 0%; //40px àpx
}
.label-txt {
  position: absolute;
  top: -1em;
  padding: 10px;
  padding-left: 0%;
  transition: ease .3s;

  text-align: left;
  font: normal normal 13px/16px 'Rawson-Bold';
  letter-spacing: 0px;
  color: #B5CECD;
}

.input {
  width: 100%;
  padding: 10px;
  padding-top: 5%;
  padding-left: 0%;
  padding-bottom: 0%;
  padding-right: 8%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #36989836;
  outline: none;

  font: normal normal 14px/17px 'Rawson-Medium';
  letter-spacing: 0px;
  color: $secondary;
}


.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -1.2em;
}
.pass{
  cursor: pointer;
  width: 6%;
  margin-left: -6%;
  color: #0F4947;
}
.userIcon{
  width: 6%;
  margin-left: -6%;
  color: #0F4947;
}
//input

//10
.body10{
  margin-bottom: 12%;
  margin-top: 10%;
  // margin-left: 20.5%;
}
.sinistre10{
  text-align: center;
  margin: auto;
  padding-left: 1.1em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  // margin-left: 41.7%;
  padding-top: 0%;
  margin-bottom: 2.5%;
}
.inscrir{
  width: 19.5em;
  margin: auto;
  padding-left: 1em;
  // margin-left: 49.8%;
}

//11
.body11{
  margin-bottom: 12%;
  margin-top: 10%;
  // margin-left: 20.5%;
}
.sinistre11{
  text-align: center;
  margin: auto;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  padding-top: 0%;
  padding-left: 1.1em;
  margin-bottom: 2.5%;
}
.connexion{
  width: 19.5em;
  margin: auto;
  padding-left: 1em;
}

.body12{
  margin-bottom: 11.4%;
  margin-top: 7.81%;
  margin-left: 20.5%;
}
.suc{
  width: 20%;
  margin-left: 27.1%;
}

.sinistre12{
  width: 42%;
  h1{
    text-align: left;
    font: normal normal 24px/28px 'Rawson-bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 2.8%;
  }
  p{
    text-align: center;
    font: normal normal 21px/25px 'Rawson-Medium';
    letter-spacing: 0px;
    color: $secondary;
    margin-bottom: 0%;
    margin-right: 2%;
  }
  .p{
    margin-right: 3%;
  }
  .numero{
    margin-top: 7.6%;
    margin-left: 2%;
    span{
      font: normal normal 21px/25px 'Rawson-Bold';
    }
  }
  .accueil:hover{
    background: #1a5555 0% 0% no-repeat padding-box;
  }
  .accueil{
    cursor: pointer;
    width: 238px;
    height: 30px;
    background: $secondary 0% 0% no-repeat padding-box;
    span{
      font: normal normal 18px/22px 'Rawson-Medium';
      letter-spacing: 0px;
      color: #ffffffdb;
      text-transform: uppercase;
    }
    margin-left: 24.5%;
    margin-top: 5%;
    padding-top: 0.8%;
    padding-left: 1.6%;

  }
  margin-left: 15.3%;
  margin-top: 3.3%;
}

//progressbar
.progress-value{
  width: 22px;
  height: 17px;
  line-height: 17px;
  border-radius: 3px;
  background: #087777 0% 0% no-repeat padding-box;
  font-size: 6px;
  font-weight: 700;
  color: #ffffffc2;
  text-align: center;
  position: absolute;
  bottom: 30px;
  transition: 0.6s;
}

.progress-value:after{
  content: "";
  border-top: 7px solid #087777;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -3px;
  left: 18%;
}


// 0
@media(min-width: 375px) and (max-width: 560px){
  .progress-value{
    // display: none;
  }
}
@media(max-width: 767px){
  .body0{
    margin-top: 9em;
    margin-bottom: 6em;
    text-align: center;
  }
  .assurer{
    margin-top: 0%;
    margin-bottom: 0%;
    h1{
      font-size: 21px;
      padding-left: 0%;
    }
  }
  .yn{
    margin-bottom: 0%;
  }

  #prec{
    width: auto;
    padding-top: 0%;
    text-align: center;
    margin-left: 0%;
    margin-top: 0;
    .left{
      width: 37px;
      height: auto;
      margin: auto;
      margin-right: 0%;
      padding-top: 0em;
      img{
        width: auto;
        height: auto;
        margin: auto;
        margin-left: 0%;
        transform: none;
      }
    }
    .left2{
      width: 37px;
      height: auto;
      margin: auto;
      margin-right: 0%;
      padding-top: 0em;
      img{
        width: auto;
        height: auto;
        margin: auto;
        margin-left: 0%;
        transform: none;
      }
    }
  }
  #suiv{
    margin-left: 0%;
    padding-top: 0%;
    width: auto;
    margin-top: 0px;
    .right{
      width: 37px;
      height: auto;
      padding-top: 0%;
      margin-left: 0%;
      img{
        width: auto;
        height: auto;
        margin: auto;
      }
    }
  }

  .declaration{
    margin-left: auto;
    h1{
      font: normal normal 25px/42px "Rawson-Bold";
    }
    hr{
      height: 2px;
      width: 36%;
    }
    span{
      font: normal normal 16px/26px "Rawson-Regular";
    }
  }
  .img{
    margin-right: 2%;
    margin-top: auto;
  }
  .btnoui{
    margin-left: auto;
    height: auto;
    padding-top: 0;
    width: 5.05em;
    margin-right: 1em;
    span{
      font-size: 13px;
    }
  }
  .btnnon{
    height: auto;
    padding-top: 0;
    width: 5.05em;
    margin-left: 1em;
    height: 26px;
    span{
      font-size: 13px;
    }
  }
  .progress{
    height: 15px;
    border: 1px solid #087777;
  }
  .body4{
    margin-bottom: 45%;
    margin-top: 25%;
  }
  .sinistre4{
    padding-left: 0;
  }
  .lieu4{
    padding-left: 0;
    img{
      margin-left: 0;
    }
  }
  .sinistre7{
    padding-left: 0;
  }
  .sinistre3{
    padding-left: 0;
  }
  .sinistre{
    padding-left: 0;
  }
}

@media (min-width: 767.1px) and (max-width: 1026px){
  .declaration{
    margin-left: 20%;
    margin-bottom: 2%;
    h1{
      font: normal normal 30px/42px "Rawson-Bold";
    }
    hr{
      width: 99px;
      height: 3px;
    }
    span{
      font: normal normal 19px/26px "Rawson-Regular";
    }
  }
  .img{
    padding-left: 0%;
    margin-right: 1%;
    margin-top: auto;
  }
  #suiv{
    padding-top: 10em;
    .right{
      height: 38px;
      margin-left: -73%;
      padding-top: 0.35em;
      img{
        width: auto;
        height: auto;
      }
    }
  }
  #prec{
    padding-top: 10em;
    .left{
      height: 38px;
      margin-left: 60%;
      img{
        width: auto;
        height: auto;
      }
    }
    .left2{
      height: 38px;
      margin-left: 60%;
      img{
        width: auto;
        height: auto;
      }
    }
  }
  .btnoui{
    height: auto;
    padding-top: 1%;
    width: 5.05em;
    margin-left: auto;
    height: 38px;
    span{
      font-size: 13px;
    }
  }
  .btnnon{
    height: auto;
    padding-top: 1%;
    width: 5.05em;
    margin-left: 1em;
    height: 38px;
    span{
      font-size: 13px;
    }
  }
  #suiv{
    padding-top: 10em;
    .right{
      height: 38px;
      margin-left: -73%;
      padding-top: 0.35em;
      img{
        width: auto;
        height: auto;
      }
    }
  }
  #prec{
    padding-top: 10em;
    .left{
      height: 38px;
      margin-left: 60%;
      img{
        width: auto;
        height: auto;
      }
    }
    .body0{
      margin-top: 0%;
      margin-bottom: 0%;
      .assurer{
        margin-top: 0%;
        h1{
          padding-left: 0%;
          font-size: 29px;
        }
      }
    }
  }
  .progress{
    height: 18px;
    border: 1px solid #087777;
  }

}
@media(min-width: 1009.1px) and (max-width: 1340px){
  .btnoui{
    margin-left: auto;
    margin-right: 1.725em;
  }
  .btnnon{
    margin-left: 1.725em;
  }
}
@media(min-width: 1026.1px) and  (max-width: 1300px){
  .img{
    margin-top: auto;
  }
}

//1
@media(max-width: 767px){
  .body1{
    margin-bottom: 2.15em;
    margin-top: 2.15em;
  }
  .sinistre{
    h1{
      font-size: 21px;
    }
    .passe{
      span{
        font: normal normal 12px/21px "Rawson-LightIt";
      }
    }
  }
  #declaration{
    margin-bottom: 1.5em;
  }
  .collision{
    max-width: 30%;
    height: 67px;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.45em;
    img{
      width: 2em;
      height: 1.75em;
      margin-left: -0.1em;
    }
    p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      font-size: 60%;
      color: #CCCBCE;
      margin-top: 0.5em;
    }
  }
  .vol{
    max-width: 30%;
    height: 67px;
    cursor: pointer;
    margin: 0;
    margin-right: auto;
    img{
      width: 1.3em;
      height: 1.85em;
      margin-left: 0.1em;
    }
    p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      font-size: 56%;
      color: #CCCBCE;
      margin-top: 0.4em;
    }
  }
  .dommage{
    max-width: 30%;
    height: 67px;
    margin: 0;
    margin-right: auto;
    padding-top: 0.2em;
    img{
      width: 1.5em;
      height: 1.77em;
      margin-left: 0.1em;
    }
    p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      font-size: 56%;
      color: #CCCBCE;
      margin-top: 2%;
      opacity: 1;
    }
  }
  .inondation{
    max-width: 30%;
    height: 67px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.45em;
    img{
      width: 2em;
    }
    p{
        font: normal normal 16px/20px 'Rawson-SemiBold';
        font-size: 56%;
        letter-spacing: 0px;
        color: #CCCBCE;
        margin-top: 0.55em;
        font-size: 56%;
    }
  }
  .collisionAnimal{
    max-width: 30%;
    height: 67px;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    margin-left: 0%;
    padding-top: 0em;
    margin: 0;
    margin-right: auto;
    img{
      width: 1.1em;
    }
    p{
      font: normal normal 600 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: #CCCBCE;
      margin-top: 0.2em;
      font-size: 56%;
    }
  }
  .autre{
    max-width: 30%;
    height: 67px;
    margin: 0;
    margin-right: auto;
    padding-top: 0.53em;
    img{
      width: 1.5em;
    }
    p{
      font: normal normal 600 16px/20px 'Rawson-SemiBold';
      color: #CCCBCE;
      margin-top: 0.65em;
      font-size: 56%;
    }
  }
}


@media(min-width: 767.1px) and (max-width: 1169px){
  .body1{
    margin-bottom: 2.15em;
    margin-top: 2.15em;
  }
  #declaration{
    margin-bottom: 1.5em;
  }
  .collision{
    max-width: 30%;
    height: 67px;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.45em;
    img{
      width: 2em;
      height: 1.75em;
      margin-left: -0.1em;
    }
    p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      font-size: 76%;
      color: #CCCBCE;
      margin-top: 0.5em;
    }
  }
  .vol{
    max-width: 30%;
    height: 67px;
    cursor: pointer;
    margin: 0;
    margin-right: auto;
    img{
      width: 1.3em;
      height: 1.85em;
      margin-left: 0.1em;
    }
    p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      font-size: 76%;
      color: #CCCBCE;
      margin-top: 0.4em;
    }
  }
  .dommage{
    max-width: 30%;
    height: 67px;
    margin: 0;
    margin-right: auto;
    padding-top: 0.3em;
    img{
      width: 1.5em;
      height: 1.77em;
      margin-left: 0.1em;
    }
    p{
      font: normal normal 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      font-size: 76%;
      color: #CCCBCE;
      margin-top: 2%;
      opacity: 1;
    }
  }
  .inondation{
    max-width: 30%;
    height: 67px;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0.45em;
    img{
      width: 2em;
    }
    p{
        font: normal normal 16px/20px 'Rawson-SemiBold';
        font-size: 56%;
        letter-spacing: 0px;
        color: #CCCBCE;
        margin-top: 0.55em;
        font-size: 76%;
    }
  }
  .collisionAnimal{
    max-width: 30%;
    height: 67px;
    cursor: pointer;
    box-shadow: 0px 3px 6px #00000029;
    text-align: center;
    margin-left: 0%;
    padding-top: 0.2em;
    margin: 0;
    margin-right: auto;
    img{
      width: 1.2em;
    }
    p{
      font: normal normal 600 16px/20px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: #CCCBCE;
      margin-top: 0.2em;
      font-size: 76%;
    }
  }
  .autre{
    max-width: 30%;
    height: 67px;
    margin: 0;
    margin-right: auto;
    padding-top: 0.53em;
    img{
      width: 1.5em;
    }
    p{
      font: normal normal 600 16px/20px 'Rawson-SemiBold';
      color: #CCCBCE;
      margin-top: 0.65em;
      font-size: 76%;
    }
  }
}

//2
@media(max-width: 767px){
  .body2{
    margin-top: 9em;
    margin-bottom: 4em;
  }
  // .sinistre2{
  //   h1{
  //     font: normal normal 21px/35px "Rawson-Bold";
  //   }
  //   .quand{
  //     span{
  //       font: normal normal 12px/21px "Rawson-LightIt";
  //     }
  //   }
  // }
  .saisiDate{
    span{
      font: normal normal  14px/25px "Rawson-SemiBold";
    }
  }
  .date label .jj, .mm, .yy{
    font-size: 10px;
    padding-bottom: 0.1em;
  }
  // .date label .mm{
  //   font-size: 19px;
  //   padding-bottom: 0.1em;
  // }
  // .date label .yy{
  //   font-size: 19px;
  //   padding-bottom: 0.1em;
  // }

}
@media(min-width: 767.1px) and (max-width: 1000px){
  .body2{
    margin-top: 9em;
    margin-bottom: 4em;
  }
  .sinistre2{
    h1{
      font: normal normal 23px/35px "Rawson-Bold";
    }
    .quand{
      span{
        font: normal normal 12px/21px "Rawson-LightIt";
      }
    }
  }
  .saisiDate{
    span{
      font: normal normal  17px/25px "Rawson-SemiBold";
    }
  }
  .date label .jj, .mm, .yy{
    font-size: 19px;
    padding-bottom: 0.1em;
  }
  // .date label .mm{
  //   font-size: 19px;
  //   padding-bottom: 0.1em;
  // }
  // .date label .yy{
  //   font-size: 19px;
  //   padding-bottom: 0.1em;
  // }
}

//5
@media(max-width: 767px){
  .sinistre5, .sinistre4, .sinistre3, .sinistre1,.sinistre2,
  .sinistre, .sinistre7,.sinistre8,.sinistre10,.sinistre11{
    h1{
      font-size: 21px;
    }
    .passe{
      span{
        font: normal normal 12px/21px "Rawson-LightIt";
      }
    }
  }
  .description{
    textarea{
      width: 100%;
      border: 0.1px solid #668B89;
      height: 162px;
    }
    ::placeholder{
      text-align: center;
      font-size: 12px;
      letter-spacing: 0.17px;
      color: #D3EAE9;
    }
  }
}
@media(min-width: 767.1px) and (max-width: 1000px){
  .description{
    textarea{
      width: 100%;
      height: 200px;
    }
    ::placeholder{
      font-size: 14px;
    }
  }
}

//6
@media(max-width: 767px){
  .upload{
    cursor: pointer;
    width: 11em;
    height: 4em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1.3em;
    p{
      font: normal normal 20px/30px 'Rawson-SemiBold';
    }
  }
  .error-file{
    span{
      font-size: 9px;
    }
  }

}
@media(min-width: 767.1px) and (max-width: 1300px){
  .upload{
    margin-left: auto;
    margin-right: auto;
  }
}

// 7
@media(max-width: 767px){
  .files{
    padding-left: 0%;
  }
  .pdf{
    width: 70%;
    height: 40px;
    margin: auto;
    text-align: center;
    background: $primary 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-bottom: 0.5em;
    padding: 0.2em;
    .sup{
      cursor: pointer;
      padding-left: 0%;
      padding-right: 1%;
      margin-left: auto;
      margin-top: 0.1em;
    }
    p{
      text-align: left;
      font: normal normal 9px/15px 'Rawson-Bold';
      letter-spacing: 0px;
      color: $secondary;
      margin-bottom: 0%;
      margin-top: 5%;
    }
    img{
      width: 10px;
      height: 31px;
    }
  }
  // .sinistre7{
  //   h1{
  //     font-size: 21px;
  //   }
  //   .passe{
  //     span{
  //       font: normal normal 12px/21px "Rawson-LightIt";
  //     }
  //   }
  // }

}

@media(max-width: 767px){
  // .sinistre8{
  //   h1{
  //     font-size: 21px;
  //   }
  //   .quand{
  //     span{
  //       font: normal normal 12px/21px "Rawson-LightIt";
  //     }
  //   }
  // }
  .matriculeSN{
    width: 70%;
    height: 40px;
    margin: auto;
    background: $primary 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 0.7em;
    .sn{
      width: 100%;
      height: 40px;
      background: $secondary 0% 0% no-repeat padding-box;
      margin-left: 4.2%;
      .blanc{
        width: 7%;
        height: 10px;
        background: $primary 0% 0% no-repeat padding-box;
        margin-top: 5%;
        margin-left: auto;
        margin-bottom: 13%;
      }
      .blanc1{
        width: 7%;
        height: 10px;
        background: $primary 0% 0% no-repeat padding-box;
        margin-top: 5%;
        margin-left: 7%;
        margin-right: auto;
      }
      p{
        text-align: center;
        font: normal normal 12px/21px 'Rawson-Bold';
        letter-spacing: 0px;
        color: #fffff9db;
        margin-left: auto;
        margin-right: auto;
      }
    }
    label {
      margin: 0.3% 0%; //40px àpx
      margin-top: 2.5%;
    }
    .label-txt {
      position: absolute;
      top: -0.2em;
      padding: 10px;
      padding-left: 0%;
      transition: ease .3s;

      text-align: left;
      font: normal normal 13px/16px 'Rawson-Bold';
      letter-spacing: 0px;
      color: #B5CECD;
    }

    .input {
      width: 100%;
      padding-top: 5%;
      padding-left: 1%;
      padding-bottom: 0%;
      padding-right: 8%;
      border: none;
      outline: none;

      text-align: left;
      font-family: 'Rawson-SemiBold';
      font-size: 18px;
      letter-spacing: 0px;
      color: $secondary;
    }
    ::placeholder{
      color: #1f666665;
      font-size: 12px;
    }

    transform: translate(2.5%,1%);
  }

  .matricule{
    width: 70%;
    height: 40px;
    margin: auto;
    background: $primary 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 1.05em;
    .marque{
      padding-top: 2.9%;
      margin-left: 2.7%;
      padding-right: 0%;
      span{
        text-align: left;
        font: normal normal 600 12px/15px 'Rawson-SemiBold';
        letter-spacing: 0px;
        color: #1f6666d9;
      }
    }
    label {
      display: block;
      position: relative;
      margin: 0.3% 0%; //40px àpx
      margin-top: 0%;
      padding-top: 1.5%;
      margin-left: 2.7%;
    }

    .input {
      width: 100%;
      padding: 10px;
      padding-top: 4.6%;
      padding-left: 0.5%;
      padding-bottom: 0%;
      padding-right: 8%;
      border: none;
      outline: none;

      text-align: left;
      font: normal normal 10px/15px 'Rawson-SemiBold';
      letter-spacing: 0px;
      color: #1f6666d9;
    }
    ::placeholder{
      color: #1f666665;
    }
    transform: translate(2.5%,1%);
  }

  .dk{
    padding-bottom: 3%;
    p{
      text-align: right;
      font: normal normal 7px/15px 'Rawson-SemiBold';
    }
    .a{
      margin-left: auto;
      p{
        text-align: left;
        font: normal normal 7px/10px 'Rawson-SemiBold';
      }
    }
}

}

// 9
@media(max-width: 767px){
  // .btnoui92{
  //   padding-top: 0.3em;
  //   height: 2.5em;
  //   span{
  //     font: normal normal 14px/23px "Avenir-Medium";
  //   }
  // }
  // .btnoui91{
  //   padding-top: 0.3em;
  //   height: 2.6em;
  //   span{
  //     font: normal normal 14px/23px "Avenir-Medium";
  //   }
  // }
  // .btnnon91{
  //   padding-top: 0.3em;
  //   height: 2.5em;
  //   span{
  //     font: normal normal 14px/23px "Avenir-Medium";
  //   }
  // }
  // .btnnon92{
  //   padding-top: 0.3em;
  //   height: 2.5em;
  //   span{
  //     font: normal normal 14px/23px "Avenir-Medium";
  //   }
  // }
}
@media(max-width: 575px){

}

// 10 et 11
@media(max-width: 767px){
  .inscrir{
    width: 65%;
    padding-left: 0;
  }
  .label-txt{
    font: normal normal 10px/16px "Rawson-Bold";
  }
  .connexion{
    width: 65%;
    padding-left: 0;
  }
  .label-txt{
    font: normal normal 10px/16px "Rawson-Bold";
  }
}

@media(max-width: 1300px){
  .body12{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .suc{
      width: 20%;
      margin-left: auto;
      margin-right: auto;
      img{
        width: 60%;
      }
    }
  }
  .sinistre12{
    margin-right: auto;
    margin-left: auto;
    h1{
      font: normal normal 18px/28px "Rawson-bold";
      text-align: center;
    }
    p{
      font: normal normal 16px/25px "Rawson-Medium";
    }
    .accueil{
      margin-left: auto;
      margin-right: auto;
      width: 170px;
      text-align: center;
      span{
        font: normal normal 13px/22px "Rawson-Medium";
      }
    }
  }
}

// 3
@media(max-width: 1360px){
  .map{
    width: 100%;
    height: 323px;
    img{
      width: 100%;
      height: 100%;
    }
    margin-left: auto;
    margin-top: 0.2em;
    margin-bottom: 0%;
    margin-right: auto;
  }
  .right{
    margin-left: 0;
    margin-right: auto;
  }
  .left2{
    margin-right: 0;
    margin-left: auto;
  }
  .left{
    margin-right: 0;
    margin-left: auto;
  }
}
@media(max-width: 1360px){
  #suiv{
    padding-top: 230px;//10.3em;
    .right{
      margin-left: 0%;
    }
  }
  #prec{
    padding-top: 230px;//10.3em;
    // .left2{
    //   margin-left: 62%;
    // }
    .left, .left2{
      margin-right: 0;
      margin-left: auto;
    }
  }
  .collision, .inondation{
    margin-left: 1em;
  }
  .sinistre2{
    margin-left: 0;
  }
  .saisiDate{
    padding-left: 0;
    text-align: center;
  }
  .date{
    padding-left: 0;
  }
}
