<div class="body">
  <section>
    <div class="card">
      <h3>Login</h3>
      <img src="../../assets/images/images/salama-assurance-logo-header.svg" alt="">
      <div class="input_box">
        <input type="text" placeholder="username" />
      </div>
      <div class="input_box">
        <input type="password" placeholder="password" />
      </div>
      <div class="btn">
        <input type="submit" value="CONNEXION" routerLink="/first">
      </div>
      <div class="text">
        <span>haven't an account ? <a href="#">SignUp</a></span>
      </div>
      <div class="social_icons">
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-twitter-square"></i>
      </div>
    </div>
  </section>
</div>
