<div class="corps">
  <app-menu></app-menu>
  <div class="row">
      <div class="col-md-12 col-sm-12" id="ilustsalama">
          <img class="ilustsalama" src="../../assets/images/images/illustration-salama-web.svg" alt="">
      </div>
  </div>
  <div class="row apropos">
      <div class="col-md-5 col-sm-5 p-0 mt-0 pt-1 res">
          <img class="imgpropos" src="../../assets/images/images/salama-assurance-logo-a-propos.svg" alt="">
      </div>
      <div class="col-md-7 col-sm-10" id="titrepropos">
          <h1 class="titrepropos mb-0">a propos</h1>
          <hr align="left" class="mt-0"/>
          <p class="lorempropos">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
              Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
              pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
              mollit anim id est laborum
          </p>
      </div>
  </div>
  <div class="row test">
      <div class="col-md-6 col-sm-12 blocAppGratuite">
          <h1 class="titreAppGratuite mb-0">Application 100% gratuit</h1>
          <hr align="left" class="gratuit"/>
          <div class="row">
              <div class="col-md-6 col-sm-6  mt-0" id="profil">
                  <img class="profil" src="../../assets/images/images/profil-web.svg" alt="">
                  <p>Profil 100% sécurisé</p>
              </div>
              <div class="col-md-6 col-sm-6" id="assurance">
                  <img class="assurance" src="../../assets/images/images/assurances-web.svg" alt="">
                  <p>Gérer vos assurances</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6" id="suivi">
                  <img class="profi" src="../../assets/images/images/suiv-dossiers-web.svg" alt="">
                  <p>Suivi en temps réel</p>
              </div>
              <div class="col-md-6 col-sm-6" id="indemnisation">
                  <img class="assura" src="../../assets/images/images/indemnisation-web.svg" alt="">
                  <p>Demande d’indemnisation</p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 col-sm-6" id="chat">
                  <img src="../../assets/images/images/chat-web.svg" alt="" class="chat">
                  <p>Système de chat</p>
              </div>
              <div class="col-md-6 col-sm-6" id="notification">
                  <img class="assura" src="../../assets/images/images/notification-web.svg" alt="">
                  <p>Notification</p>
              </div>
          </div>
          <div class="row lien">
              <div class="col-md-4" id="lienggle">
                  <img src="../../assets/images/images/google-play.png" alt="">
              </div>
              <div class="col-md-6" id="lienapp">
                  <img src="../../assets/images/images/app-store.png" alt="">
              </div>
          </div>
      </div>
      <div class="col-md-6  col-sm-12" id="illustration-app-salama">
          <img class="illustration-app-salama" src="../../assets/images/images/illustration-app-salama.svg" alt="">
      </div>
  </div>
  <div class="row" id="utiliser">
      <div class="col-md utiliser">
          <h1 class="">Ils ont utilisé notre application</h1>
          <hr align="center" class="mt-0" >
      </div>
  </div>
  <div class="row carous">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <a class="carousel-control-next" role="button" aria-hidden="true" data-slide="next" href="#carouselExampleSlidesOnly" #next></a>
        <a class="carousel-control-prev" role="button" aria-hidden="true" data-slide="prev" href="#carouselExampleSlidesOnly" #prec></a>

        <div *ngFor="let carousel of carousels; let i = index" [ngClass]=" i == 0 ? 'carousel-item active' : 'carousel-item'">
          <div class="msk" id="lorem">
            <div class="text-center">
              <img [src]="carousel.img" class="rounded mask" alt="...">
            </div>
              <p class="lorem">
                  {{carousel.comment}}
              </p>
              <div class="col-md mb-0">
                <hr align="center" class="mt-0">
                <span>{{carousel.nom}}</span>
                <p class="mb-0">{{carousel.status}}</p>
              </div>
            </div>
          <div class="center animated slideInRight" id="lorem">
            <div class="text-center">
              <img [src]="carousel.img" class="rounded" alt="...">
            </div>
              <p class="lorem">
                  {{carousel.comment}}
              </p>
              <div class="col-md mb-0">
                <hr align="center" class="mt-0">
                <span>{{carousel.nom}}</span>
                <p class="mb-0">{{carousel.status}}</p>
              </div>
            </div>
          <div class="msk" id="lorem">
            <div class="text-center">
              <img [src]="carousel.img" class="rounded mask" alt="...">
            </div>
              <p class="lorem">
                  {{carousel.comment}}
              </p>
              <div class="col-md mb-0">
                <hr align="center" class="mt-0">
                <span>{{carousel.nom}}</span>
                <p class="mb-0">{{carousel.status}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
    <img src="../../assets/images/images/Témoignages-fléche-gauche.svg" alt="" class="right" (click)="next.click()">
    <img src="../../assets/images/images/Témoignages-fléche-droite.svg" alt="" class="left" (click)="prec.click()">

  </div>
  <app-footer></app-footer>
</div>
