
$width : 100%;
$fontText : normal normal bold Rawson;
$white : #FFFFFF;
$green : #7A774C;

p{
  text-align: left;
  font: normal normal 17px/21px 'Rawson-Medium';

  color: $green;
}
.corps{
  width: $width;
  background:$white 0% 0% no-repeat padding-box;
  overflow-x: hidden;
  overflow-y: hidden;

}
p{
  color: rosybrown;
  font-family: Rawson, Medium;
  color: $green;
}

.ilustsalama{
  width: $width;
  height: 100%;
  margin-bottom: -1%;
  height: 400px;
}

#ilustsalama{
  padding-top: 1.24%;
  padding-left: 23.7%;
}

.apropos{
  top: 517px;
  padding-top: 5.9%;
  padding-bottom: 0%;
  padding-left: 3.5%;
  padding-right: 3%;
  margin-top: -0.2%;
  background: #F5F5F5 0% 0% no-repeat padding-box;
}
.imgpropos{
  width: 95%;
  height: 75%;
  margin-left: 18%;
}

.lorempropos{
  top: 650px;
  height: 163px;
  text-align: left;
  margin-left: 7%;
  font: normal normal 18px/22px 'Rawson-Medium';

  color: $green;
}

.titrepropos{
  width: 80%;
  margin-left: 7.2%;
  height: 43px;
  text-align: left;
  margin-top: -0.2%;
  padding-top: 0.2%;
  font: normal normal bold 36px/43px 'Rawson-Bold';

  color: #1F6666;
  text-transform: uppercase;

}

hr{
  width: 86px;
  height: 0px;
  padding-top: 0;
  margin-top: 0;
  border: 0;
  border-top: 0.26em solid $green;

}

#titrepropos{
  padding-left: 2%;
  padding-top: 0%;
  hr{
    margin-bottom: 1.7%;
    margin-left: 7%;
    border: 0;
    border-top: 0.26em solid $green;
  }
}
#illustration-app-salama{
  width: 100%;
  height: 100%;
  padding-left: 0%;
  padding-right: 0%;
  margin-right: 0%;
  margin-left: -4.5%;
  margin-top: 0%;
  transform: perspective(500px) translate3d(1%, 11.5%, 1em);
}
.illustration-app-salama{
  width: $width;
  height: 100%;
  margin-right: 0;
  padding-left: 0%;
  padding-right: 0%;

}

.titreAppGratuite{
  width: $width + 10 ;
  height: 43px;
  text-align: left;
  font: normal normal 36px/43px 'Rawson-Bold';

  color: #1F6666;
  text-transform: uppercase;

}

.test{
  margin-top: -3%;
}

.blocAppGratuite{
  width: 100%;
  padding-top: 8.9%;
  padding-left: 14.2%;
  margin-top: 4.5%;
  text-align: center;
  hr{
    margin-top: -0.5%;
    border: 0;
    border-top: 0.32em solid $green;
  }
}

#profil{
  padding-top: 5%;
  img{
    margin-bottom: 7.7%;
    margin-right: 34.5%;
  }
  p{
    margin-left: 1%;
    font: normal normal 17px/21px 'Rawson-Medium';
    color: #7A774C;;
  }
}
#assurance{
  padding-top: 3.5%;
  margin-top: 1.67%;
  img{
    margin-bottom: 7.6%;
    margin-right: 26.5%;
  }
  p{
    margin-left: 2.5%;
    font: normal normal 17px/21px 'Rawson-Medium';
    color: #7A774C;;
  }
}
#suivi{
  padding-top: 0%;
  margin-top: -0.2%;
  img{
    margin-bottom: 8.8%;
    margin-right: 35.2%;
  }
  p{
    margin-left: 1%;
    font: normal normal 17px/21px 'Rawson-Medium';
    color: #7A774C;;
  }
}
#indemnisation{
  padding-top: 0%;
  margin-top: -0.2%;
  img{
    margin-bottom: 9%;
    margin-right: 26.4%;
  }
  p{
    margin-left: -8%;
    font: normal normal 17px/21px 'Rawson-Medium';
    color: #7A774C;;
  }
}
#chat{
  padding-top: 0%;
  margin-top: -1.452%;
  img{
    margin-bottom: 5%;
    margin-right: 35.4%;
  }
  p{
    margin-left: 4.5%;
    font: normal normal 17px/21px 'Rawson-Medium';
    color: #7A774C;;
  }
}
#notification{
  padding-top: 0%;
  margin-top: -2%;
  img{
    margin-bottom: 3.5%;
    margin-right: 27%;
  }
  p{
    margin-left: 16.5%;
    font: normal normal 17px/21px 'Rawson-Medium';
    color: #7A774C;;
  }
}
#lienggle{
  padding-left: 0;
  margin-left: 2.5%;
  padding-right: 0%;
  margin-top: 6%;
}
#lienapp{
  padding-left: 1%;
  padding-right: 14%;
  margin-top: 6%;
}
.profil{
  width: 48px;
  height: 63px;
  margin-right: 40%;
  cursor: pointer;

}

.assurance{
  width: 52px;
  height: 63px;
  margin-right: 23%;
  cursor: pointer;

}

.lien{
  margin-top: 0.5%;
  margin-left: 15px;
}
#utiliser{
  margin-top: 7%;
}

.utiliser{
  text-align: center;
  h1{

    margin-left: 3.7%;
    margin-bottom: 0%;
    color: #1F6666;
    text-transform: uppercase;
    font: normal normal 36px/43px 'Rawson-Bold';
  }
  hr{
    margin-left: 48.6%;
  }

}
.lorem{
  text-align: center;
  font: normal normal 18px/22px 'Rawson-Medium';
  margin-top: -1%;
  margin-bottom: 4%;

  color: #226868;

}

#lorem{
  width: 623px;
  height: 296px;
  // margin-top: 8%;
  margin-top: 3%;
  padding-left: 3.1%; //10
  padding-right: 3.1%;
  margin-left: 76px;
  background: $white 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;

  text-align: center;
  hr{
    width: 25.5px;
    border: 0;
    margin-bottom: 0.2%;
    margin-left: 47%;
    border: 2px solid #7A774C;
    opacity: 1;
  }
  span{
    font: normal normal 18px/22px 'Rawson-Medium';
    margin-bottom: 0%;
    margin-left: -1%;
    color: #377676;
  }
  div p{
      text-align: center;
      color: #1F6666;
      font: normal normal 18px/22px 'Rawson-Bold';
  }
}
.carousel{
  margin-left: -28.6%;
  // width: 100%;
  // margin-left: 12.1%;
  margin-bottom: 0.7%;
}
.carous{
  // min-width: 154%;
  width: 100%;
  // margin-left: 21%;
  // margin-right: 29%;
  margin-bottom: -5%;
  margin-top: 1.5%;
}
#lorem{
  display: inline-block;
}

.text-center{
  width: 108px;
  height: 108px;
  transform: perspective(500px) translate3d(174%, -43%, 1em);
}
.mask{
  display: none;
}

.right{
  cursor: pointer;
  transform: perspective(500px) translate3d(21.3em, -11.8em, 1em);
  margin: 0%;
  padding: 0%;
  z-index: 99;
}
.left{
  cursor: pointer;
  transform: perspective(500px) translate3d(55.2em, -11.8em, 1em);
  margin: 0%;
  padding: 0%;
  z-index: 99;
}
.carousel-inner{
  width: 108%;
  width: 2100px;
  height: 102%;
}

@media(max-width: 767px) {
  #ilustsalama{
    .ilustsalama{
      height: 103%;
    }
  }
  .apropos{
    padding-left: 2px;
    text-align: center;
    padding-bottom: 0%;
    padding-top: 0%;
    height: 489px;
    background: #F5F5F5 0% 0% no-repeat padding-box;

  }
  .imgpropos{
    margin: auto;
    width: 271px;

  }
  .res{
    margin-left: auto;
    margin-right: auto;
    height: 267px;
  }
  #titrepropos{
    height: 204px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 20px;
    padding-right: 6px;
    padding-top: 0%;
    .lorempropos{
      margin-left: 0%;
    }
    .titrepropos{
      margin-left: 0%;
    }
  hr{
    margin-bottom: 1.7%;
    margin-left: 0%;
    border: 0;
    border-top: 0.26em solid $green;
  }
  }

  .blocAppGratuite{
    padding-top: 0%;
    margin-top: 4.5%;
    padding-left: 0%;
    text-align: center;
    hr{
      margin-top: -0.5%;
      border: 0;
      border-top: 0.22em solid $green;
      margin: auto;
    }
  }
  .illustration-app-salama{
    display: none;
  }
  .titreAppGratuite{
    width: auto;
    font: normal normal 30px/40px 'Rawson-Bold';
    text-align: center;
    margin: auto;
  }
  #profil{
    padding-top: 0%;
    max-width: 226px;
    margin-left: auto;
    img{
      margin: auto;
      margin-bottom: 1px;
      margin-right: 0%;
      width: 39px;
      margin-top: 18px;
    }
    p{
      text-align: center;
      margin-left: 0%;
      margin-bottom: 0;
    }
  }
  #assurance{
    padding-top: 0%;
    max-width: 226px;
    margin-right: auto;

    img{
      margin-bottom: 0%;
      margin-right: 0%;
      width: 44px;
      margin-top: 3%;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #suivi{
    padding-top: 0%;
    max-width: 226px;
    margin-left: auto;

    img{
      margin-bottom: 6px;
      margin-right: 0%;
      width: 36px;
      margin-top: 3px;
    }
    p{
      text-align: center;
      margin-left: 0%;
      padding-bottom: 5%;
    }
  }
  #indemnisation{
    padding-top: 0%;
    max-width: 226px;
    margin-right: auto;

    img{
      margin-bottom: 9px;
      margin-right: 0%;
      width: 49px;
      margin-top: 3px;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #chat{
    padding-top: 0%;
    max-width: 226px;
    margin-left: auto;

    img{
      margin-bottom: 10px;
      margin-right: 0%;
      width: 53px;
      margin-top: 3%;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #notification{
    padding-top: 0%;
    max-width: 226px;
    margin-right: auto;

    img{
      margin-bottom: 5px;
      margin-right: 0%;
      width: 40px;
      margin-top: 1%;
      margin-top: 10px;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }

  }
  #illustration-app-salama{
    width: 12%;
  }
  .lien{
    margin: auto;
    padding-left: 12%;
  }
  #lienggle{
    width: 40%;
    margin-top: 1%;
    text-align: right;
    img{
      width: 160px;
    }
  }
  #lienapp{
    width: 40%;
    margin-top: 1%;
    padding-right: 0%;
    text-align: left;
    padding-left: 1%;
    img{
      width: 168px;
      margin: auto;
    }
  }
  #utiliser{
    margin-top: 4%;
    .utiliser{
      text-align: center;
      h1{
        text-align: center;
        margin: auto;
        margin-left: 2%;
        margin-bottom: 0%;
        color: #1F6666;
        text-transform: uppercase;
        font: normal normal 94%/43px 'Rawson-Bold';
      }
      hr{
        margin: auto;
        width: 10%;
        border-top: 0.15em solid #7A774C;
      }
    }
  }
  @media(max-width: 575px){
    .apropos{
      height: 375px;
      .res{
        height: 160px;
        .imgpropos{
          width: 178px;
        }
      }
    }
    #titrepropos{
      height: 201px;
    }
    .titreAppGratuite{
      width: auto;
      font: normal normal 24px/40px 'Rawson-Bold';
      text-align: center;
    }
    #profil{
      width: 178px;
      .profil{
        width: 36px;
        // margin-top: 3%;
      }
      p{
        font: normal normal 13px/21px "Rawson-Medium";
      }
    }
    #assurance{
      width: 178px;
      .assurance{
        width: 41px;
        // margin-top: 3%;
      }
      p{
        font: normal normal 13px/21px "Rawson-Medium";
      }
    }
    #suivi{
      width: 178px;
      .profi{
        width: 33px;
        // margin-top: 3%;
      }
      p{
        padding-bottom: 0%;
        font: normal normal 13px/21px "Rawson-Medium";
        margin-top: 10px;
      }
    }
    #indemnisation{
      width: 178px;
      .assura{
        width: 46px;
        // margin-top: 3%;
      }
      p{
        font: normal normal 13px/21px "Rawson-Medium";
        margin-top: 10px;
      }
    }
    #chat{
      .chat{
        width: 50px;
        // margin-top: 3%;
      }
      p{
        font: normal normal 13px/21px "Rawson-Medium";
        margin-top: 10px;
      }
    }
    #notification{
      width: 178px;
      .assura{
        width: 37px;
        // margin-top: 3%;
      }
      p{
        font: normal normal 13px/21px "Rawson-Medium";
        margin-top: 10px;
      }
    }
  }
  #lienggle{
    img{
      width: 140px;
    }
  }
  #lienapp{
    img{
      width: 144px;
    }
  }
}

@media(min-width: 767.1px) and (max-width: 1150px){
  .blocAppGratuite{
    padding-top: 0%;
    margin-top: 4.5%;
    padding-left: 0%;
    text-align: center;
    hr{
      margin-top: -0.5%;
      border: 0;
      border-top: 0.22em solid $green;
      margin: auto;
    }
  }
  .titreAppGratuite{
    font: normal normal 25px/40px 'Rawson-Bold';
    text-align: center;
    margin: auto;
  }
  #profil{
    padding-top: 0%;

    img{
      margin: auto;
      margin-bottom: 0%;
      margin-right: 0%;
      width: 40px;
      margin-top: 7%;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
      margin-left: 0%;
      margin-bottom: 0;
    }
  }
  #assurance{
    padding-top: 0%;

    img{
      margin-bottom: 0%;
      margin-right: 0%;
      width: 45px;
      margin-top: 3%;
      margin-bottom: 8px;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #suivi{
    padding-top: 0%;

    img{
      margin-bottom: 0%;
      margin-right: 0%;
      width: 37px;
      margin-top: 3%;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
      margin-left: 0%;
      padding-bottom: 5%;
    }
  }
  #indemnisation{
    padding-top: 0%;

    img{
      margin-bottom: 0%;
      margin-right: 0%;
      width: 50px;
      margin-top: 4%;
      margin-bottom: 11px;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #chat{
    padding-top: 0%;

    img{
      margin-bottom: 0%;
      margin-right: 0%;
      width: 54px;
      margin-top: 9%;
      margin-bottom: 11px;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #notification{
    padding-top: 0%;

    img{
      margin-bottom: 0%;
      margin-right: 0%;
      width: 41px;
      margin-top: 1%;
      margin-top: 3%;
      margin-bottom: 10px;
    }
    p{
      text-align: center;
      margin-left: 0%;
    }
  }
  #illustration-app-salama{
    width: 12%;
    height:  auto;
    // .illustration-app-salama{
    //   height: 100%;
    // }
    transform: perspective(500px) translate3d(1%, 11.5%, 1em);
  }
  #utiliser{
    margin-top: 9%;
    .utiliser{
      h1{

        margin: auto;
        margin-bottom: 0%;
        color: #1F6666;
        text-transform: uppercase;
        font: normal normal 25px/43px 'Rawson-Bold';
      }
    }
  }
  #lienggle{
    img{
      width: 160px;
    }
  }
  #lienapp{
    img{
      width: 168px;
    }
  }

}

@media(max-width: 575px){
  .imgpropos{
    width: 31%;
  }
}

@media (max-width: 900px){
  .row.apropos{
    padding-top: 3%;
  }
  #titrepropos{
    hr{
      width: 76px;
      border-top: 0.15em solid #7A774C;
    }
  }
  .titrepropos{
    font: normal normal 26px/43px "Rawson-Bold";
  }
  .lorempropos{
    font: normal normal 14px/22px "Rawson-Medium";
  }
}

//carousel
@media (max-width: 600px){
  .text-center{
    width: 69px;
    height: 40px;
    transform: none;
    margin: auto;
    img{
      margin-top: -40%;
      z-index: 999;
    }
  }
  #lorem.msk{
    display: none;
  }
  #lorem{
    width: 100%;
    height: 90%;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 17%;
    margin-left: 1%;
    background: $white 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;

    text-align: center;
    hr{
      border: 0;
      margin-bottom: 0.2%;
      margin: auto;
      border: 1px solid #7A774C;
      opacity: 1;
    }
    span{
      font: normal normal 11px/22px 'Rawson-Medium';
      margin-bottom: 0%;
      margin-left: -1%;
      color: #377676;
    }
    div p{
      text-align: center;
      color: #1F6666;
      font: normal normal 11px/22px 'Rawson-Bold';
  }
  }
  .carousel-inner{
    width: 108%;
  }
  .lorem{
    text-align: justify;
    font: normal normal 15px/22px 'Rawson-Medium';
    margin-top: -1%;
    margin-bottom: 4%;

    color: #226868;
    margin-top: 2px;
  }
  .right{
    transform: none;
    margin-left: auto;
    width: 50px;
  }
  .left{
    transform: none;
    margin-right: auto;
    width: 40px;
  }
  .carous{
    width: 100%;
    margin: auto;
    padding-top: 0%;
    #carouselExampleSlidesOnly{
      padding-top: 4%;
      margin-left: auto;
      padding-top: 0%;
    }
  }
}
@media (min-width: 600.1px) and (max-width: 700px){
  .text-center{
    transform: perspective(500px) translate3d(191%, -43%, 1em);
    img{
      width: 93px;
    }
  }
  #lorem{
    width: 566px;
    height: 276px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 62px;
    .lorem{
      margin-top: -5%;
      font-size: 16px;
    }
    .col-md{
      p , span{
        font-size: 16px;
      }
    }
  }
  #lorem.msk{
    display: none;
  }
  .carousel-inner{
    width: 100%;
  }
  .carous{
    margin: auto;
    text-align: center;
    #carouselExampleSlidesOnly{
      margin-left: auto;
      margin-right: auto;
      padding-top: 1%;
      height: 357px;
      width: 592px;
    }
  }
  .carousel{
    margin-left: -28.6%;
    // width: 100%;
    // margin-left: 12.1%;
    margin-bottom: 6%; //2%
  }
  .carous{
    // min-width: 154%;
    width: 100%;
    // margin-left: 21%;
    // margin-right: 29%;
    margin-bottom: -5%;
    margin-top: 1.5%;
  }
  .right{
    display: none;
    // transform: none;
    // margin-left: auto;
  }
  .left{
    display: none;
    // transform: none;
    // margin-right: auto;
  }
  .utiliser{
    text-align: center;
    margin-top: 5%;
    hr{
      margin: auto;
      border-top: 0.15em solid #7A774C;
    }
  }
  @media(max-width: 680px){
    .right{
      // display: none;
      transform: none;
      margin-left: auto;
    }
    .left{
      // display: none;
      transform: none;
      margin-right: auto;
    }
  }
}
@media(min-width: 700.1px) and (max-width: 946px){
  .carousel{
    margin-left: -48.6%;
    margin-right: -3%;
  }
  #lorem.center{
    margin-left: 2%;
    margin-right: 2%;
  }
  #lorem{
    width: 32%;
    height: 275px;
    margin-left: 0;
    margin-top: 62px;
    padding-left: 2.1%;
    padding-right: 2.1%;
    .lorem{
      margin-top: -4%;
      font-size: 15px;
    }
    .col-md{
      p , span{
        font-size: 16px;
      }
    }
  }
  .carousel-inner{
    width: 133%;
  }
  .right{
    transform: none;
    margin-left: auto;
    margin-bottom: 4%;
  }
  .left{
    transform: none;
    margin-right: auto;
    margin-bottom: 4%;
  }
  .text-center{
    transform: none;
    margin-left: auto;
    margin-right: auto;
    img{
      margin-top: -50px;
    }
  }
}
@media(min-width: 946.1px) and (max-width: 1150px){
  #lorem.center{
    width: 566px;
    margin-left: 2%;
    margin-right: 2%;
  }
  #lorem{
    // width: 566px;
    width: 32%;
    height: 276px;
    // height: auto;
    margin-left: 0;
    // margin-right: auto;
    margin-top: 62px;
    padding-left: 2.1%;
    padding-right: 2.1%;
    .text-center{
      .lorem{
        font: normal normal 17px/21px "Rawson-Medium";
      }
    }
  }
  .carousel-inner{
    // width: 1700px;
    width: 133%;
  }
  .carousel{
    margin-left: -40.6%;
  }
  @media (max-width: 962px){
    .carousel{
      margin-left: -43.6%;
    }
  }
  .right{
    // display: none;
    transform: none;
    margin-left: auto;
    margin-bottom: 4%;
  }
  .left{
    // display: none;
    transform: none;
    margin-right: auto;
    margin-bottom: 4%;
  }
  // @media(min-width: 1080px){
  //   .carousel{
  //     margin-left: -37.6%;
  //   }
  // }

}
@media (min-width: 1150.1px) and (max-width: 1350px){
  .carousel-inner{
    // width: 1700px;
    width: 133%;
  }
  #lorem.center{
    width: 566px;
    margin-left: 3%;
    margin-right: 3%;
  }
  // #lorem{
  //   margin-left: 0%;
  // }
  #lorem{
    // width: 566px;
    width: 31%;
    height: 276px;
    // height: auto;
    margin-left: 0;
    // margin-right: auto;
    margin-top: 62px;
    padding-left: 2.1%;
    padding-right: 2.1%;
    .text-center{
      .lorem{
        font: normal normal 17px/21px "Rawson-Medium";
      }
    }
  }
  @media(max-width: 1190px){
    .left{
      transform: perspective(500px) translate3d(49.2em, -11.8em, 1em);
    }
    .right{
      transform: perspective(500px) translate3d(18.3em, -11.8em, 1em);
    }
  }
  @media(min-width: 1190.1px) and (max-width: 1220px){
    .left{
      transform: perspective(500px) translate3d(49.5em, -11.8em, 1em);
    }
    .right{
      transform: perspective(500px) translate3d(19em, -11.8em, 1em);
    }
  }
  @media(min-width: 1220.1px) and (max-width: 1245px){
    .left{
      transform: perspective(500px) translate3d(50em, -11.8em, 1em);
    }
    .right{
      transform: perspective(500px) translate3d(19.3em, -11.8em, 1em);
    }
  }
  @media(min-width: 1245.1px) and (max-width: 1290px){
    .left{
      transform: perspective(500px) translate3d(50.5em, -11.8em, 1em);
    }
    .right{
      transform: perspective(500px) translate3d(20.3em, -11.8em, 1em);
    }
  }
  @media(min-width: 1290.1px) and (max-width: 1314px){
    .left{
      transform: perspective(500px) translate3d(50.9em, -11.8em, 1em);
    }
    .right{
      transform: perspective(500px) translate3d(21em, -11.8em, 1em);
    }
  }
  @media(min-width: 1314.1px) and (max-width: 1350px){
    .left{
      transform: perspective(500px) translate3d(51.5em, -11.8em, 1em);
    }
  }
}

@media (min-width: 767.1px) and (max-width: 1360px){
  #ilustsalama{
    .ilustsalama{
      height: 103%;
    }

  }
}

@media(min-width: 300px) and (max-width: 474px){
  #ilustsalama{
    margin-right: 10px;
  }
  .apropos{
    height: auto;
    .lorempropos{
      font-size: 12px;
    }
    .res{
      height: 145px;
    }
    #titrepropos{
      .titrepropos{
        font-size: 20px;
      }
      hr{
        width: 43px;
      }
    }
  }
  @media only screen and (max-width:358px) {
    .apropos{
      height: 410px;
      #titrepropos{
        height: auto;
      }
    }
    .blocAppGratuite{
      margin-top: 5.5%;
      .titreAppGratuite{
        font-size: 21px;
      }
    }
    #profil{
      width: 100%;
      max-width: 100%;
      // padding-right: 0;
      .profil{
        // width: 30px;
      }
      p{
        // font-size: 11px;
      }
    }
    #assurance{
      width: 100%;
      max-width: 100%;
      .assurance{
        margin-top: 15px;
      }
      p{
        // font-size: 11px;
      }
    }
    #suivi{
      width: 100%;
      max-width: 100%;
    }
    #indemnisation{
      width: 100%;
      max-width: 100%;
    }
    #chat{
      width: 100%;
      max-width: 100%;
    }
    #notification{
      width: 100%;
      max-width: 100%;
    }
    #carouselExampleSlidesOnly{
      margin-top: 15px;
    }
  }
}

