@import "../../assets/css/variable.scss";

.corps{
  width: 100%;
  background: $primary 0% 0% no-repeat padding-box;
  overflow-x: hidden;
  overflow-y: hidden;

}
.sinistre{
  margin: auto;
  text-align: center;
  padding-left: 1.1em;
  margin-bottom: 1em;
  margin-top: 12.87em;
  h1{
    font: normal normal 29px/35px 'Rawson-Bold';
    letter-spacing: 0px;
    color: $secondary;
    text-transform: uppercase;
    margin-bottom: 0%;
    opacity: 1;
  }
  .passe{
    width: 122%;
    span{
      font: normal normal 17px/21px 'Rawson-LightIt';
      letter-spacing: 0px;
      color: #619393;
    }
    transform: translate(-9%,-21.5%);
  }
  // margin-left: 37.5%;
  padding-top: 0.15em;
}
.container {
  width: 746px; //57%
  margin-top: 2.3em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10.5em;
  padding-left: 40px;
}

.step {

  width: 746px; //100%
  padding: 13px;
  padding-bottom: 15px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  // background-color: cream;
}

.v-stepper {
  position: relative;
/*   visibility: visible; */
}


/* regular step */
.step .circle {
  background: #f4f4f4 0% 0% no-repeat padding-box;
  // border: 3px solid #E3E3E3;
  border-radius: 100%;
  width: 42px;    /* +6 for border */
  height: 42px;
  display: inline-block;
  text-align: center;
  img{
    width: 33px;
    height: 25px;
    margin: auto;
  }
  padding-top: 18%;
}

.step .line {
  top: -26px;//40px
  left: 21px;
/*   height: 120px; */
  height: 100%;

    position: absolute;
    border-left: 0.5px dashed #E6E5E5;;
}

.step.completed .circle {
  visibility: visible;
  background-color: $secondary;
  border-color: $secondary;
}

.step.completed .line {
  border-left: 0.5px dashed $secondary;
}

.step.active .circle {
visibility: visible;
background: $secondary 0% 0% no-repeat padding-box;
border-color: $secondary;
}

.step.empty .circle {
    visibility: hidden;
}

.step.empty .line {
/*     visibility: hidden; */
/*   height: 150%; */
  top: 0;
  height: 150%;
}


.step:first-child .line {
  border-left: 3px solid white;
  z-index: -1; /* behind the circle to completely hide */
}

.incmplt{
  display: none;
}

.content {
  margin-left: 18px;
  display: inline-block;
  width: auto;
  // p,span{
  //   display: inline-block;
  // }
  span{
    text-align: left;
    font: normal normal 24px/32px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: #E6E5E5;
  }
  padding-top: 0.5%;
}
.completed .content {
  span{
    text-align: left;
    font: normal normal 27px/32px 'Rawson-SemiBold';
    letter-spacing: 0px;
    color: $secondary;
  }
}
.date{
  width: 10%;
  text-align: right;
  span{
    font: normal normal 13px/16px 'Rawson-Bold';
    letter-spacing: 0px;
    color: #1F6666;
    text-transform: uppercase;
  }
  padding-right: 4em;
  padding-top: 0.5em;
}


/* codepen override */
html *
{
   font-size: 15px !important;
   color: #000 !important;
   font-family: Arial !important;
}

// @media(max-width: 1255px){
  // .cmplt{
  //   display: none;
  // }
  // .incmplt{
  //   display: block;
  // }
  // .container {
  //   // width: 709px;
  //   .step{
  //     .content{
  //       margin-left: 2px;
  //       padding-left: 0%;
  //       padding-right: 0%;
  //       span{
  //         font: normal normal 14px/32px "Rawson-SemiBold";
  //       }
  //     }
  //     .date{
  //       padding-right: 0%;
  //       padding-left: 2%;
  //       text-align: left;
  //       padding-top: 0%;
  //       margin-left: auto;
  //       span{
  //         font: normal normal 12px "Rawson-Bold";
  //       }
  //     }
  //   }
  // }
  // @media(max-width: 611.9px){
  //   .line{
  //     display: none;
  //   }
  // }
// }

@media(max-width: 1360px){
  .container{
    padding-left: 15px;
  }
}

@media(max-width: 767px){
    .sinistre{
      padding-left: 0;
      h1{
        font-size: 21px;
      }
      .passe{
        span{
          font: normal normal 12px/21px "Rawson-LightIt";
        }
      }
    }
    .container {
    width: 484px;
    margin-top: 1.3em;
    padding-left: 15px;
    .step{
      width: 450px;
      .content{
        margin-left: 2px;
        padding-left: 15px;
        padding-right: 0%;
        span{
          font: normal normal 14px/32px "Rawson-SemiBold";
        }
      }
      .circle{
        width: 35px;
        height: 35px;
        padding-top: 13%;
        img{
          width: 28px;
          height: 20px;
        }
      }
      .line{
        left: 17px;
      }
      .date{
        padding-right: 0%;
        padding-left: 2%;
        text-align: left;
        padding-top: 0%;
        margin-left: auto;
        span{
          font-size: 11px;
        }
      }
    }
  }
  @media(max-width: 418px){
    .container{
      padding-left: 0;
      margin-left: auto;
      margin-right: auto;
      .step{
        .content{
          max-width: 213px;
          span{
            font-size: 11px;
          }
        }
        .date{
          span{
            font-size: 10px;
          }
        }
        .circle{
          width: 30px;
          height: 30px;
        }
        .line{
          top: -28px;
          left: 16px;
        }
      }
    }
  }
}

@media(max-width: 1000px){
  .sinistre{
    margin-top: 5.87em;
  }
  .container{
    margin-bottom: 5.5em;
  }
}
