<div class="corps">
  <app-menu></app-menu>
  <div class="sinistre">
    <h1>Résultat</h1>
    <div class="passe">
      <span>Renseignez le formulaire et valider</span>
    </div>
  </div>
  <div class="container">
      <div *ngFor="let stepbar of StepBars" [class]="stepbar.level">
        <div class="v-stepper">
          <div class="circle">
            <img [src]="ValidImg" alt="">
          </div>
          <div class="line"></div>
        </div>
        <div class="col-8 content">
          <span>{{stepbar.step}}</span>
        </div>
        <div class="col date">
          <span>{{stepbar.date}}</span>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

