<div class="corps">
  <app-menu></app-menu>
  <div class="sinistre">
    <h1>Résultat</h1>
    <div class="passe">
      <span>Renseignez le formulaire et valider</span>
    </div>
  </div>
  <div class="container">
      <div class="step">
        <div class="v-stepper">
          <div class="circle">
            <img src="../../assets/images/images/resultat/username-valide-web.svg" alt="">
          </div>
          <div class="line"></div>
        </div>
        <div class="col-8 content">
          <span>Remboursement</span>
        </div>
        <div class="col date">
          <span>JJ/MM/aA</span>
        </div>
    </div>

    <!-- active -->
    <div class="step">
      <div class="v-stepper">
        <div class="circle">
          <img src="../../assets/images/images/resultat/username-valide-web.svg" alt="">
        </div>
        <div class="line"></div>
      </div>

      <div class="col-8 content">
        <span>Decision</span>
      </div>
      <div class="col date">
        <span>JJ/MM/aA</span>
      </div>
    </div>

      <!-- empty -->
    <div class="step completed">
        <div class="v-stepper">
          <div class="circle">
            <img src="../../assets/images/images/resultat/username-valide-web.svg" alt="">
          </div>
          <div class="line"></div>
        </div>

        <div class="col-8 content">
          <span class="cmplt">votre demande est en cours d’examen</span>
          <span class="incmplt">demande en cours</span>
        </div>
        <div class="col date">
          <span>05 Mars 2021</span>
        </div>
    </div>

    <!-- regular -->
    <div class="step completed">
        <div class="v-stepper">
          <div class="circle">
            <img src="../../assets/images/images/resultat/username-valide-web.svg" alt="">
          </div>
          <div class="line"></div>
        </div>

        <div class="col-8 content">
          <span class="cmplt">votre demande a été soumise</span>
          <span class="incmplt">demande soumise</span>
        </div>
        <div class="col date">
          <span>01 Mars 2021</span>
        </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>

