@import "assets/css/variable.scss";

@font-face {
  font-family: 'Rawson-Medium';
  src: url("assets/fonts/rawson/Rawson-Medium.otf");
  /* src: url("../fonts/GellixBlack.otf") format("embedded-opentype"), url("../fonts/GilroyBold.woff2") format("woff2"), url("../fonts/GilroyBold.woff") format("woff"), url("../fonts/GilroyBold.ttf") format("truetype"), url("../fonts/GilroyBold.svg#GilroyBold") format("svg");
*/
}

@font-face {
  font-family: 'Rawson-Bold';
  src: url("assets/fonts/rawson/Rawson-Bold.otf");
}
@font-face {
  font-family: 'Rawson-LightIt';
  src: url("assets/fonts/rawson/Rawson-LightIt.otf");
}
@font-face {
  font-family: 'Rawson-Light';
  src: url("assets/fonts/rawson/Rawson-Light.otf");
}
@font-face {
  font-family: 'Rawson-SemiBold';
  src: url("assets/fonts/rawson/Rawson-SemiBold.otf");
}
@font-face {
  font-family: 'Rawson-Regular';
  src: url("assets/fonts/rawson/Rawson-Regular.otf");
}
@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url("assets/fonts/Avenir-Font/avenir_ff/AvenirLTStd-Book.otf");
}
@font-face {
  font-family: 'Avenir-Medium';
  src: url("assets/fonts/Avenir-Font/avenir_ff/AvenirMedium.ttf");
}
.buttons .btn.btn-success{
  background-color: $secondary !important;
}

// confirm
.modal-body{
  // padding: 0;
}
.modal-dialog {
  text-align: center;
  width: 360px !important;
  margin-top: 120px;
  margin: 30px auto;
  .modal-content {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .confirm {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-height: 150px;
    .content {
      padding: 15px;
      border-radius: 10px;
      background-color: #fff !important;
      font-weight: 700;
    }
    .buttons {
      padding: 10px 15px;
      // float: right;
      margin-left: auto;
      margin-right: auto;
      button {
        margin-right: 10px;
      }
    }
  }
}
.modal-dialog .confirm .content{
  color: $secondary;
  font-family: 'Rawson-Medium';
}
