<div class="body">
  <section>
    <div class="card">
      <h3>Connexion</h3>
      <img src="../../assets/images/images/salama-assurance-logo-header.svg" alt="">
      <form [formGroup] = "form">
          <div class="input_box">
            <input type="text" formControlName="login" placeholder="nom d'utilisateur"/>
          </div>
          <div class="input_box">
            <input type="password" formControlName="pwd" placeholder="mot de passe" />
          </div>
          <div class="btn">
            <input type="submit" value="CONNEXION" (click)="IsAuthenticated()">
          </div>
          <div [hidden] = "erreur" class="erreur">
            <span>Identifiants incorrects</span>
          </div>
          <div class="text">
            <span>Avez-vous un compte ? <a href="#">Inscrire</a></span>
          </div>
          <div class="social_icons">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-google-plus-square"></i>
            <i class="fab fa-twitter-square"></i>
          </div>
      </form>
    </div>
  </section>
</div>

